.container
  %h1.center-align.white-text Welcome #{@user.first_name}
  =link_to 'New', new_user_goal_path(@user), class: 'btn-floating btn-large waves-effect waves-light blue darken-3'

  - @goals.each do |goal|
    %h4
      = goal.title
    %p
      = goal.description
    %p
      = goal.location
    %p
      Completed:
      = goal.completed
    %p
      - goal.category.each do |goaleach|
        = goaleach
        |
    %p
      =link_to 'Edit', edit_user_goal_path(@user, goal), class: 'btn-floating btn-large waves-effect waves-light blue darken-3'
      -# path does not work for delete
      =link_to 'Delete', user_goal_path(@user, goal), method: :delete, class: 'btn-floating btn-large waves-effect waves-light blue darken-3'
