= form_for [@user, @goal] do |f|
  = f.hidden_field :user_id

  = f.label :title
  = f.text_field :title
  %br

  = f.label :description
  = f.text_field :description
  %br

  = f.label :location
  = f.text_field :location
  %br

  %p Is it completed:
  = f.radio_button :completed, true
  = f.label :completed, "Yes", :value => "true"

  = f.radio_button :completed, false
  = f.label :completed, "No", :value => "false"
  %br
  -# <hr />

  -# = f.label :type
  -# = f.text_field :type
  -# %br

  -# %f.select
  -#   %option{value => "a", selected => params[:x] == "a"}= "a"
  -#   %option{value => "b", selected => params[:x] == "b"}= "b"

  -# = select_tag :type, options_for_select([['A data', 'A'], ['B data', 'B']], params[:type])

  -# <input id="pet_dog" name="pet_dog" type="checkbox" value="1" />
  -# <label for="pet_dog">I own a dog</label>
  -# <input id="pet_cat" name="pet_cat" type="checkbox" value="1" />
  -# <label for="pet_cat">I own a cat</label>
  -# <input id="pet_dog" name="pet_dog" type="checkbox" value="1" />
  -# <label for="pet_dog">I own a dog</label>
  -# <input id="pet_cat" name="pet_cat" type="checkbox" value="1" />
  -# <label for="pet_cat">I own a cat</label>

  = f.select :category, [['Solo', 'Solo'], ['Group', 'Group'], ['Outdoor', 'Outdoor'], ['Arts&Culture', 'Arts&Culture'], ['Tech', 'Tech'], ['Historical', 'Historical'], ['Adventure', 'Adventure'], ['Culinary', 'Culinary'], ['Dangerous', 'Dangerous'], ['Spiritual', 'Spiritual'], ['Geek', 'Geek'], ['Travel', 'Travel']], {}, { :multiple => true, class: 'browser-default' }

  = f.submit
