
= form_for [@user, @goal] do |f|
  = f.hidden_field :user_id

  = f.label :title, class: 'white-text'
  = f.text_field :title, class: 'white-text'
  %br

  = f.label :description, class: 'white-text'
  = f.text_field :description, class: 'white-text'
  %br

  = f.label :location, class: 'white-text'
  = f.text_field :location, class: 'white-text'
  %br

  %p.white-text Is it completed:
  = f.radio_button :completed, true
  = f.label :completed, "Yes", :value => "true"

  = f.radio_button :completed, false
  = f.label :completed, "No", :value => "false"
  %br

  .input-field.goals.white-text
    = f.select :category, options_for_select([['Solo', 'Solo'], ['Group', 'Group'], ['Outdoor', 'Outdoor'], ['Arts&Culture', 'Arts&Culture'], ['Tech', 'Tech'], ['Historical', 'Historical'], ['Adventure', 'Adventure'], ['Culinary', 'Culinary'], ['Dangerous', 'Dangerous'], ['Spiritual', 'Spiritual'], ['Geek', 'Geek'], ['Travel', 'Travel']], { :multiple => true })
  .input-field
    = f.submit 'submit', class: 'btn-floating btn-large blue darken-3'

  -# %div.btn-floating.btn-large.waves-effect.waves-light.blue.darken-3

    -# =link_to 'Update', update_user_goal_path(@user, goal), class: 'btn-floating btn-large waves-effect waves-light blue darken-3'
  -# <hr />

  -# = f.label :type
  -# = f.text_field :type
  -# %br

  -# %f.select
  -#   %option{value => "a", selected => params[:x] == "a"}= "a"
  -#   %option{value => "b", selected => params[:x] == "b"}= "b"

  -# = select_tag :type, options_for_select([['A data', 'A'], ['B data', 'B']], params[:type])

  -# <input id="pet_dog" name="pet_dog" type="checkbox" value="1" />
  -# <label for="pet_dog">I own a dog</label>
  -# <input id="pet_cat" name="pet_cat" type="checkbox" value="1" />
  -# <label for="pet_cat">I own a cat</label>
  -# <input id="pet_dog" name="pet_dog" type="checkbox" value="1" />
  -# <label for="pet_dog">I own a dog</label>
  -# <input id="pet_cat" name="pet_cat" type="checkbox" value="1" />
  -# <label for="pet_cat">I own a cat</label>
